
   body{
        .html {
            color: yellow;
            transform: rotate(45deg);
            border: 1px solid pink;
        }
        .nv2{
            width: 200px;
            height: 200px;
            background: red;
            // background:url('../img/nv2.jpg') no-repeat;
            // background-size: 200px 200px;
        }
    }
